@font-face {
  font-family: "Montserrat-Bold";
  src: url("../files/fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../files/fonts/Montserrat-Regular.otf");
}