
html {
  font-size: 1vw;
}

body {
  background-color: hsl(0, 0%, 96%);
  width: 100%;
  height: 100%;
}
#footer{
  font-size: 0.7rem;
  width: 100%;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  background-color: hsl(0, 0%, 96%);
}
#footer_1{
  width: 61%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  background-color: hsl(0, 0%, 96%);
  padding-top: 1.5rem;
}
a{
  text-decoration: none;
}
.copyright {
  width: 48%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  p {

    color: hsl(0, 0%, 63%);
  }
  a{
    padding-left: 0.3rem;

    color: hsl(201, 73%, 49%);
  }
}
.menu{
  width: 52%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;

  .other{
    color: hsl(0, 0%, 63%);
  }
  .our{
    color: hsl(201, 73%, 49%);
  }
  a:hover{
    color: hsl(201, 73%, 49%);
  }
}
