@import "mixin.scss";
@import "variables.scss";
header{
  position: absolute;
  width: 100%;
  height: 4.2rem;

  @include dflex(r,sa,c,nw);
  img.logo{
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 1.3rem;
    margin-left: -3.5rem;
  }
  .social-bar{
    width: 11%;
    margin-left: 3.8rem;
    @include dflex(r,sb,c,nw);
    i.fa{
      color: $whiteColor;
      font-size: 0.7rem;
      cursor: pointer;
    }
  }
}