
@import "mixin_3.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 1vw;
}

body {
  background-color: hsl(0, 0%, 96%);

}
#section3{
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 96%);
}
#section3_1{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: row wrap;
  margin: auto auto;
  width: 61%;
  height: 100%;
  //background-color: red;
}
.news{
  box-sizing: border-box;
  background-color: hsl(201, 73%, 49%);
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 2rem;

  h3.news1{
    padding-top: 1.2rem;
    font-size: 1.6rem;
    color: hsl(0, 100%, 100%);
  }
  p.news2{
    padding-top: 1.7rem;
    font-size: 0.8rem;
    color: hsl(204, 93%, 76%);
  }
  p.news3{
    padding-top: 0.3rem;
    font-size: 1rem;
    color: hsl(0, 100%, 100%);

  }
  p.news4{
    padding-top: 1.2rem;
    font-size: 0.8rem;
    color: hsl(204, 93%, 76%);

  }
  img{
    padding-top: 2.3rem;
    width: 7rem;
    height: 0.35rem;
  }
}


.adams{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  flex-flow: column wrap;
  align-items: center;
  background-color: hsl(0, 100%, 100%);
  padding-left: 2rem;
  padding-right: 2rem;
  img{
    padding-top: 1.5rem;
    width: 4rem;
    height: 4rem;
  }
  p:nth-of-type(1){
    padding-top: 1.4rem;
    font-size: 0.67rem;
    color: hsl(0, 0%, 21%);
  }
  i{
    padding-top: 0.5rem;
    color: hsl(41, 100%, 50%);
    font-size: 0.67rem;
  }
  p:nth-of-type(2){
    text-align: center;
    padding-top: 0.5rem;
    font-size: 0.67rem;
    color: hsl(0, 0%, 63%);
  }

}

.procur{
  box-sizing: border-box;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 2rem;
  background-color: hsl(0, 0%, 84%);
  img{
    padding-top: 1.5rem;
    width: 4rem;
    height: 4rem;
  }
  p:nth-of-type(1){
    padding-top: 2rem;
    font-size: 2rem;
    color: hsl(0, 0%, 44%);
  }
  p:nth-of-type(2){
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: hsl(0, 0%, 63%);
  }
}
.manag{
  box-sizing: border-box;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 2rem;
  background-color: hsl(0, 100%, 100%);
  img{
    padding-top: 1.5rem;
    width: 4rem;
    height: 4rem;
  }
  p:nth-of-type(1){
    padding-top: 2rem;
    font-size: 2rem;
    color: hsl(0, 0%, 44%);
  }
  p:nth-of-type(2){
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: hsl(0, 0%, 63%);
  }
}

.contem{
  box-sizing: border-box;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 25%;
  background-color: hsl(0, 100%, 100%);
  h3{
    padding-top: 1.5rem;
    font-size: 1.4rem;
    color: hsla(0, 0%, 21%, 1);
  }
  img{
    padding-top: 1rem;
    width: 2rem;
    height: 0.25rem;
  }
  p:nth-of-type(1){
    padding-top: 1rem;
    font-size: 0.7rem;
    color: hsla(0, 0%, 61%, 1);
  }
  p:nth-of-type(2){
    padding-top: 1.2rem;
    font-size: 0.7rem;
    color: hsla(0, 0%, 61%, 1);

  }
  div{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 7rem;
    height: 2rem;
    background-color: hsl(54, 100%, 50%);

    p.con{
      padding-top: 0rem;
      font-size: 0.5rem;
      font-weight: bold;
      color: hsla(0, 0%, 21%, 1);
    }
  }
}
.big_img{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  //background-color: hsl(0, 0%, 84%);
  background: url("../files/img/villa.png") center no-repeat;
  background-size: cover;
  .slide{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    background-color: hsl(0, 100%, 100%);
    i:nth-of-type(1){
      font-size: 4rem;
      color: hsla(0, 0%, 63%, 1);
    }
    i:nth-of-type(2){
      font-size: 4rem;
      color: hsla(0, 0%, 63%, 1);
    }
    img{
      width: 6rem;
      height: 2rem;
    }
  }
}

.vork_subs{
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  width: 25%;
  background-color: yellow;
  .work{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: hsl(54, 100%, 50%);
    img{
      width: 4rem;
      height: 4rem;
    }
    p{
      padding-top: 1rem;
      color: hsl(0, 0%, 21%);
      font-weight: bold;
      font-size: 0.8rem;
    }
  }

  .subs{
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    background-color: hsl(201, 73%, 49%);
    padding-left: 2rem;
    padding-right: 2rem;

    p:nth-of-type(1){
      padding-top: 1.5rem;
      font-weight: bold;
      font-size: 1.5rem;
      color: hsl(0, 100%, 100%);
    }
    img:nth-of-type(1){
      padding-top: 0.5rem;
      width: 8rem;
      height: 0.3rem;
    }
    #email {
      font-family: 'Montserrat', sans-serif;
      box-sizing: border-box;
      margin-top: 3rem;
      width: 11rem;
      height: 2rem;
      font-size: 0.7rem;
      border: none;

      }
    input[type="button"]{
      font-family: 'Montserrat', sans-serif;
      margin-top: 1rem;
      margin-left: 7rem;
      width: 5rem;
      height: 2rem;
      background:none;
      border:none;
      padding:0;
      color: hsl(0, 100%, 100%);
      font-size: 0.7rem;
      cursor: pointer;
    }



    img:nth-of-type(2){
      padding-top: 1rem;
      width: 12rem;
      height: 2rem;
    }
    p:nth-of-type(2){
      text-align: right;
      padding-top: 2rem;
      font-weight: bold;
      font-size: 1rem;
      color: hsl(0, 100%, 100%);


    }
  }
}



.news,.adams,.procur,.manag{
  display: flex;

  width: 25%;
  height: 33.33%;

}
.contem,.big_img,.vork_subs{
  display: flex;

  height: 66.66%;
}
