@import "mixin.scss";
@import "variables.scss";

main{
  display: flex;
  flex-direction: column;
  .section1{
    display: flex;
    flex-direction: row;
    .rigth-block{
      width: 65%;
      height: auto;
      background-color: hsl(0,0%,86%);
      background: url("../files/img/img1.jpg") no-repeat;
      transition: 0.8s;
      background-size: cover;
      .inform-block{
        width: 55%;
        height: 7.9rem;
        background-color: #f7df36;
        margin-top: 13.12rem;
        margin-left: 6.57rem;
        h1{
          font-size: 0.7rem;
          padding: 1.1rem 0.9rem;
          text-transform: uppercase;
          font-family: Montserrat-Bold;
        }
        .line{
          width: 1rem;
          height: 0.12rem;
          background-color: black;
          margin-top: -1.1rem;
          margin-left: 1rem;
        }
        p.inform-text{
          font-size: 0.4rem;
          padding: 1rem 0.9rem;
          letter-spacing: 0.015rem;
          line-height: 0.6rem;
          font-family: Montserrat-Regular;
        }

        .inform-btn{
          width: 3.6rem;
          height: 1.2rem;
          border: none;
          background-color: black;
          color: $whiteColor;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-top: -0.2rem;
          font-size: 0.4rem;
          font-family: Montserrat-Regular;
          border-radius: 0.1rem;
          cursor: pointer;
          &:focus{
            outline: none;
          }
        }
      }
      .top-company-video{
        width: $cubWidth;
        height: $cubHeight;
        background-color: hsl(201,84%,59%);
        margin-left: 24.21rem;
        @include dflex(c,c,c,nw);
        .circle{
          width: 2.1rem;
          height: 2.1rem;
          border: 0.18rem solid $whiteColor;
          border-radius: 50%;
          @include dflex(c,c,c,nw);
          margin-top: 0.5rem;
          i.fa {
            color: $whiteColor;
            font-size: 1.6rem;
            margin-left: 0.2rem;
            cursor: pointer;
          }
        }
        p.comp-video{
          font-size: 0.6rem;
          text-transform: uppercase;
          color: $whiteColor;
          margin-top: 0.8rem;
          font-family: Montserrat-Regular;

        }
      }
    }


    .left-block{
      width: 35%;
      height: 28.94rem;
      background: url("../files/img/home.jpg") no-repeat;
      background-size: cover;
      background-color: hsl(0,0%,16%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .top-slider{
        width: $cubWidth;
        height: $cubHeight;
        background-color: $whiteColor;
        margin-top: 13.1rem;
        @include dflex(c,c,c,nw);
        i.fa-caret-left{
          margin-top: 0.8rem;
          color: hsl(0,0%,77%);
          font-size: 1.3rem;
          cursor: pointer;
        }
        i.fa-caret-right{
          color: hsl(0,0%,77%);
          font-size: 1.3rem;
          cursor: pointer;
        }
        .numeric-slide{
          margin-top: 0.9rem;
          font-size: 1.2rem;
          font-family: Montserrat-Regular;
          span.number{
            font-weight: normal;
            font-size: 0.9rem;

          }
        }
      }
      .menu{
        width: 9rem;
        height: 120rem;
        background-color: $whiteColor;
       opacity: 0;
        @include dflex(c,s,c,nw);
        .top-menu{
          @include dflex(r,sa,c,nw);
          width: 100%;
          margin-top: 1.55rem;
          h2 {
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: bold;
          }
          i.fa-times-circle-o{
            font-size: 1rem;
            color: red;
            &:hover{
              cursor: pointer;
            }
          }
        }
        .main-menu{
          width: 100%;
          margin-top: 3.2rem;
          li{
            list-style: none;
            a{
              display: block;
              width: 7.5rem;
              height: 1.2rem;
              line-height: 0.6rem;
              text-decoration: none;
              text-transform: capitalize;
              color: hsl(0,0%,68%);
              margin-left: 0.8rem;
              font-size: 0.8rem;
              margin-top: 0.7rem;
              border-bottom: 0.06rem solid  hsl(0,0%,68%);;
            }
          }
          i.fa-caret-right{
            margin-left: 8rem;
            margin-top: -1.35rem;
            color: hsl(0,0%,68%);
            font-size: 0.8rem;
          }
        }
      }
    }
    .address{
      margin-top: 2.7rem;
      width: 100%;
      i.fa-map-marker{
        color: hsl(0,0%,68%);
        margin-left: 0.8rem;
        font-size: 0.8rem;
      }
      .main-adress{
        color: hsl(0,0%,68%);
        font-size: 0.45rem;
        margin-left: 0.8rem;
        margin-top: 0.3rem;
      }
      .telephone{
        color: hsl(0,0%,68%);
        font-size: 0.5rem;
        margin-left: 0.8rem;
        margin-top: 1.2rem;
      }
      .schedule{
        color: hsl(0,0%,68%);
        font-size: 0.5rem;
        margin-left: 0.8rem;
        margin-top: 0.3rem;
      }
      .link{
        display: block;
        color: hsl(201,84%,59%);
        font-size: 0.6rem;
        margin-left: 0.8rem;
        margin-top: 0.5rem;
      }
      #search{
        width: 7.5rem;
        height: 1.5rem;
        border: 0.05rem solid hsl(0,0%,68%);
        text-transform: capitalize;
        padding-left: 0.5rem;
        margin-left: 0.8rem;
        margin-top: 4rem;
        font-size: 0.55rem;
        &:focus{
          outline: none;
        }
      }
      i.fa-search{
        color: hsl(0,0%,68%);
        font-size: 0.75rem;
        margin-top: -1.1rem;
        margin-left: 7rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }
  }
