head
	link(href="css/main.css" rel="stylesheet")
	link(href="css/main_service.css" rel="stylesheet")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
	meta(charset="utf-8")
body
	.wrapper
		include includes/header.jade
		include includes/mainContent1.jade
		include includes/serviceBlock.jade
<<<<<<< HEAD

	script(src="https://use.fontawesome.com/72a7049f8a.js")
	script(src="js/main.js")
=======
		include includes/mailn_3
		include includes/footer_3
		<script src="https://use.fontawesome.com/72a7049f8a.js"></script>
		script(src="js/main.js")
>>>>>>> dbd600bdac06677d33d57d60b09d8056faad2fbf
