head
    link(href="css/links.css" rel="stylesheet")
    meta(charset="utf-8")
body
    .wrapper
        include includes/header.jade
        include links/mainContentLinks.jade
        include links/footerLinks.jade
    <script src="https://use.fontawesome.com/72a7049f8a.js"></script>