//a {
//	 margin: 0;
//	 padding: 0;
//	 border: 0;
//	 text-decoration: none;
//	 color: rgb(0, 0, 0);
// }
//.pageBox { //boxes 293x293
//	width: 15.26rem;
//	height: 15.26rem;
//	//background-color: aqua;
//}
//.underline { //undreline div
//	width: 2.08rem;
//	height: 0.3rem;
//	margin: 1.04rem 0;
//	background-color: rgb(0, 0, 0);
//}

header {
	//Header News
	#headerNews {
		@include dflex(row, s, c);
		width: 100%;
		height: 18.13rem;

		//Right part of Header
		.mainHeader {
			width: 65.31rem;
			height: 100%;
			background: url("../files/img/builderCompanyBrief.jpg") no-repeat;
			background-position: 0% 0%;
			background-size: cover;

			h1 {
				@include dflex(row, c, c);

				width: 15.47rem;
				height: 3.70rem;
				margin: 10.26rem 0 0 19.53rem;
				font-size: 1.46rem;
				text-transform: uppercase;
				background-color: rgb(255, 255, 255);
			}
		}
		//left part of Header
		.asideHeader {
			width: 33.5rem;
			height: 100%;
			background-color: rgb(51, 53, 56);
		}
	}
}
//Main part
#mainNews {
	@include dflex(row, s, s);
	margin-left: 19.53rem;

	//News content
	#contentNews {
		border: 0;
		@include dflex(row, s, s);
		flex-wrap: wrap;
		width: 45.78rem;

		.textNews {
			@include dflex(col, sb, s);
			width: 15.26rem;
			height: 15.26rem;
			padding: 1.61rem 1.61rem 1.51rem;

			h2 {
				font-size: 0.94rem;
				line-height: 1.15rem;
				margin: 0.88rem 0 0;
			}
			p {
				margin: 0;
			}
		}
		.pictureNews {
			width: 30.52rem;
			height: 15.26rem;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	//Aside part
	#asideNews {
		@include dflex(col, s, s);
		width: 15.26rem;
		height: 61.04rem;
		//Controls
		.newsControls {
			@include dflex(col, sb, c);
			padding: 2.76rem 0;
			background-color: rgb(51, 53, 56);

			button {
				width: 1.15rem;
				height: 1.46rem;
				border: 0;
				padding: 0;
				background: none;
				cursor: pointer;
				img {
					width: 100%;
					height: auto;
				}
			}
			p {
				margin: 0;
				font-size: 1.87rem;
				color: rgb(255, 255, 255);
				sup {
					color: $clr-text-prim;
				}
			}
		}
		//Download Price
		.downloadPrice {
			@include dflex(col, c, c);
			background-color: rgb(255, 228, 0);

			a {
				@include dflex(col, c, c);

				img {
					width: 2.76rem;
					height: 3.70rem;
				}
				p {
					margin: 0.99rem 0 0;
					font-size: 0.63rem;
					text-transform: uppercase;
				}
			}
		}
		//Subscribe News
		.newsSubscribe {
			@include dflex(col, s, s);
			padding: 1.56rem;
			background-color: rgb(34, 151, 216);
			h3 {
				margin: 0;
				font-family: "Montserrat Bold";
				font-size: 1.46rem;
				text-transform: uppercase;
				color: rgb(255, 255, 255);
			}
			.underline {
				background-color: rgb(255, 255, 255);
				margin-bottom: 3.28rem;
				height: 0.3rem;
			}
			form {
				width: 100%;
				div {
					@include dflex(col, sb, e);

					input {
						width: 100%;
						height: 2.39rem;
						border: 0;
						padding-left: 0.73rem;
						color: rgb(89, 169, 214);
						font-family: "Montserrat Regular";
						font-size: 0.73rem;

						@include placeholder { //Placeholder style
							color: rgb(89, 169, 214);
							font-size: 0.73rem;
						}
					}
					button {
						margin-top: 1.88rem;
						background: none;
						border: 0;
						cursor: pointer;
						font-size: 0.63rem;
						color: rgb(255, 255, 255);
						text-transform: uppercase;
					}
				}
			}
		}
		//Work with us
		.newsWorkUs {
			@include dflex(col, c, c);
			background-color: rgb(255, 228, 0);

			a {
				@include dflex(col, c, c);

				img {
					width: 3.80rem;
					height: 3.80rem;
				}
				p {
					margin: 0.73rem 0 0;
					font-size: 0.63rem;
					text-transform: uppercase;
				}
			}
		}
	}
}


