a {
	 margin: 0;
	 padding: 0;
	 border: 0;
	 text-decoration: none;
	 color: rgb(0, 0, 0);
 }
.pageBox { //boxes 293x293
	width: 15.26rem;
	height: 15.26rem;
	//background-color: aqua;
}
.underline { //undreline div
	width: 2.08rem;
	height: 0.3rem;
	margin: 1.04rem 0;
	background-color: rgb(0, 0, 0);
}

//Our services block
#ourServices {
	img { //default img style
		width: 100%;
		height: auto;
	}
	@include dflex(row, c, c);

	width: 61.04rem;
	height: 30.47rem;
	margin-left: 19.53rem;

	//Service slider header and controls
	.serviceSliderTitle {
		@include dflex(col, c, c);
		.serviceInfo {
			padding: 1.56rem 1.46rem;
			h2 {
				width: 11.09rem;
				margin: 0;
				font-family: "Montserrat Bold";
				font-size: 1.46rem;
				text-transform: uppercase;
			}
			p {
				margin: 0;
				color: $clr-text-prim;
				line-height: 1.15rem;
			}

		}
		.serviceControls {
			@include dflex(col, sb, c);
			padding: 2.76rem 0;

			button {
				width: 1.15rem;
				height: 1.46rem;
				border: 0;
				padding: 0;
				background: none;
				cursor: pointer;
				img {
					width: 100%;
					height: auto;
				}
			}
			p {
				margin: 0;
				font-size: 1.87rem;
			}
		}
	}
	//Service slider pictures and text
	.serviceSliderContent {
		@include dflex(row, s, s);
		flex-wrap: wrap;
		.textServiceSlider{
			padding: 1.61rem 1.51rem;

			h3 {
				margin: 0;
				font-family: "Montserrat Bold";
				font-size: 0.94rem;
			}
			p {
				margin: 0;
				color: $clr-text-prim;
				line-height: 1.15rem;
			}
		}
	}
}
// Downloading price, Contact, Searching - Exploring block
#exploring {
	@include dflex(row, s, c);

	width: 100%;
	margin-left: 19.53rem;

	//Download Price
	.downloadPrice {
		@include dflex(col, c, c);
		background-color: rgb(255, 228, 0);

		a {
			@include dflex(col, c, c);

			img {
				width: 2.76rem;
				height: 3.70rem;
			}
			p {
				margin: 0.99rem 0 0;
				font-size: 0.63rem;
				text-transform: uppercase;
			}
		}
	}
	//Contact Us
	.contactUs {
		@include dflex(col, c, c);
		background-color: rgb(34, 151, 216);

		a {
			@include dflex(col, c, c);

			img {
				width: 2.81rem;
				height: 3.70rem;
			}
			p {
				margin: 0.99rem 0 0;
				color: rgb(255, 255, 255);
				font-size: 0.63rem;
				text-transform: uppercase;
			}
		}
	}
	//Search form
	.searchBox {
		@include dflex(row, s, c);

		width: 49.95rem;
		height: 15.26rem;
		padding-left: 1.56rem;
		background: url("../files/img/searchForm.jpg") no-repeat;
		background-position: 50% 50%;
		background-size: cover;

		form > div {
			@include dflex(row, sb, c);
			width: 27.4rem;
			padding-bottom: 0.5rem;
			border-bottom: 0.05rem solid rgb(255, 255, 255);

			input {
				width: 100%;
				height: 1.5rem;
				background: none;
				border: 0;
				padding: 0;
				color: rgb(255, 255, 255);
				font-family: "Montserrat Regular";
				font-size: 0.94rem;

				@include placeholder { //Placeholder style
					color: rgb(255, 255, 255);
					font-size: 0.94rem;
				}
			}
			button {
				background: none;
				border: 0;
				cursor: pointer;
				i {
					font-size: 1.04rem;
					color: rgb(255, 255, 255);
				}
			}
		}

	}
}

.posRevBrief { //Positioning Review and Brief, Stats
	@include dflex(row, s, s);
	//Review block
	#review {
		@include dflex(col, s, c);

		width: 30.52rem;
		height: 45.78rem;
		margin-left: 19.53rem;

		.pictureReview {
			width: 4.32rem;
			height: 4.32rem;

			img {
				width: 100%;
				heigth: auto;
			}
		}
		p:first-of-type {
			margin: 1.04rem 0 0;
			color: rgb(0, 0, 0);
			font-family: "Montserrat Bold";
		}
		.ratingImg {
			width: 4.11rem;
			height: 0.73rem;
			margin-top: 0.67rem;
		}
		p:last-of-type {
			//width: 27.03rem;
			margin: 0.73rem 0 0;
			color: $clr-text-prim;
			line-height: 1.14rem;
			text-align: center;
		}

		.topReview, .middleReview {
			@include dflex(col, s, c);
			width: 100%;
			height: 15.26rem;
			padding: 1.2rem;
		}
		.middleReview {
			@include dflex(col, sb, c);
			background-color: rgb(252, 243, 211);
			> div {
				@include dflex(col, s, c);
			}
			.indicatorReview {
				@include dflex(row, sb, c);
				width: 3.64rem;
				//margin-top: 1rem;

				div {
					width: 1.41rem;
					height: 0.3rem;
					background-color: rgb(54, 54, 54);
				}
			}
		}
		.bottomReview {
			@include dflex(col, s, c);
			align-self: flex-end;
			width: 15.26rem;
			height: 15.26rem;
			padding: 1.2rem;

			//p {
			//	width: 11.88rem;
			//}
		}

	}
	.posBreifStat { //Positioning Brief and Stats
		@include dflex(col, s, c);

		//Company Brief block
		#companyBrief {
			width: 30.52rem;
			height: 15.26rem;
			padding: 1.56rem;
			color: rgb(255, 255, 255);

			background: url("../files/img/builderCompanyBrief.jpg") no-repeat;
			background-position: 0% 0%;
			background-size: cover;

			h2 {
				width: 15.8rem;
				margin: 0;
				font-family: "Montserrat Bold";
				font-size: 1.46rem;
				text-transform: uppercase;
			}
			.underline {
				background-color: rgb(255, 255, 255);
			}
			p {
				width: 15.8rem;
				margin: 0;
				line-height: 1.14rem;
			}
			a {
				@include dflex(row, c, c);
				width: 8.38rem;
				height: 2.40rem;
				margin: 1.25rem 0 0;
				background-color: rgb(54, 54, 54);
				font-size: 0.63rem;
				text-transform: uppercase;
				color: rgb(255, 255, 255);
			}
		}
		//Stats block
		#statsCounter {
			@include dflex(row, c, c);
			flex-wrap: wrap;

			width: 30.52rem;
			.pageBox {
				@include dflex(col, s, s);
				padding: 1.56rem;
			}
			img {
				width: 4.32rem;
				height: 4.32rem;
			}
			h3 {
				margin: 2.18rem 0 0;
				font-size: 1.87rem;
				color: $clr-text-sec;
			}
			h4 {
				margin: 0.42rem 0 0;
				color: $clr-text-prim;
			}
			.darkStatsIcon {
				background-color: rgb(215, 215, 215);
			}
		}
	}
}
@media (min-width: 0) and (max-width: $xs - 1){
	.pageBox {
		width: 50rem;
		height: 50rem;
		background-color: aqua;
	}
	.underline { //undreline div
		width: 5rem;
		height: 0.7rem;
		margin: 2.2rem 0;
	}
	#ourServices {
		@include dflex(col, s, s);

		width: 100%;
		height: 200rem;
		margin-left: 0;

		//Service slider header and controls
		.serviceSliderTitle {
			@include dflex(row, c, c);
			//width: 100%;
			.serviceInfo {
				padding: 5rem;
				h2 {
					font-size: 3.5rem;
				}
				p {
					height: 60%;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 3.0rem;
					line-height: 4.2rem;
					color: $clr-text-adap;
				}
			}
			.serviceControls {
				padding: 5rem;
				button {
					width: 7rem;
					height: auto;
				}
				p {
					font-size: 5rem;
				}
			}
		}
		.serviceSliderContent {
			@include dflex(col, s, s);
			flex-wrap: wrap;
			height: 150rem;
			.textServiceSlider{
				padding: 4rem;

				h3 {
					font-size: 3.5rem;
				}
				p {
					height: 60%;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 3rem;
					line-height: 4.2rem;
					color: $clr-text-adap;
				}
			}
		}
	}
	#exploring {
		@include dflex(row, s, s);
		flex-wrap: wrap;

		width: 100rem;
		margin: 0;

		.downloadPrice {
			@include dflex(col, c, c);
			a {
				img {
					width: 12rem;
					height: auto;
				}
				p {
					margin: 4rem 0 0;
					font-size: 3rem;
				}
			}
		}
		.contactUs {
			a {
				img {
					width: 12rem;
					height: auto;
				}
				p {
					margin: 4rem 0 0;
					font-size: 3rem;
				}
			}
		}
		.searchBox {
			width: 100%;
			height: 50rem;
			padding: 0;
			form {
				@include dflex(row, c, c);
				width: 100%;
				div {
					width: 80%;
					padding-bottom: 2rem;
					border-bottom: 0.5rem solid rgb(255, 255, 255);

					input {
						width: 100%;
						height: 5rem;
						font-size: 3rem;
						@include placeholder {
							font-size: 3rem;
						}
					}
					button {
						i {
							font-size: 3rem;
						}
					}
				}
			}
		}
	}
	.posRevBrief {
		flex-wrap: wrap;
		#review {
			width: 100%;
			height: 150rem;
			margin: 0;
			.pictureReview {
				width: 18rem;
				height: auto;
			}
			p:first-of-type {
				margin-top: 1.5rem;
				font-size: 3.5rem;
			}
			.ratingImg {
				width: 15rem;
				height: auto;
				margin-top: 1rem;
			}
			p:last-of-type {
				height: 40%;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 3rem;
				line-height: 4.2rem;
				color: $clr-text-adap;
			}

			.topReview, .middleReview, .bottomReview {
				@include dflex(col, s, c);
				width: 100%;
				height: 50rem;
				padding: 2.5rem;
			}
			.middleReview {
				@include dflex(col, sb, c);
				background-color: rgb(252, 243, 211);
				div:first-of-type {
					@include dflex(col, s, c);
					p:last-of-type{
						height: 13rem;
						overflow: hidden;
						text-overflow: ellipsis;
						font-size: 3rem;
						line-height: 4.2rem;
						color: $clr-text-adap;
					}
				}
				.indicatorReview {
					@include dflex(row, sb, c);
					width: 14rem;
					margin-top: 1rem;

					div {
						width: 5rem;
						height: 1rem;
					}
				}
			}
		}
	}
	.posBreifStat {
		@include dflex(col, s, s);

		width: 100rem;
		#companyBrief {
			width: 100rem;
			height: 50rem;
			padding: 1.56rem;
			h2 {
				width: 15.8rem;
				margin: 0;
				font-family: "Montserrat Bold";
				font-size: 1.46rem;
				text-transform: uppercase;
			}
			p {
				width: 15.8rem;
				margin: 0;
				line-height: 1.14rem;
			}
			a {
				@include dflex(row, c, c);
				width: 8.38rem;
				height: 2.40rem;
				margin: 1.25rem 0 0;
				background-color: rgb(54, 54, 54);
				font-size: 0.63rem;
				text-transform: uppercase;
				color: rgb(255, 255, 255);
			}
		}
		//Stats block
		#statsCounter {
			@include dflex(row, c, c);
			flex-wrap: wrap;

			width: 100%;
			.pageBox {
				@include dflex(col, s, s);
				padding: 1.56rem;
			}
			img {
				width: 4.32rem;
				height: 4.32rem;
			}
			h3 {
				margin: 2.18rem 0 0;
				font-size: 1.87rem;
				color: $clr-text-sec;
			}
			h4 {
				margin: 0.42rem 0 0;
				color: $clr-text-prim;
			}
			.darkStatsIcon {
				background-color: rgb(215, 215, 215);
			}
		}
	}
}