@mixin dflex($dir: row, $jc: c, $ai: c)
{
	display: flex;

	@if 		$dir == row { flex-direction: row; }
	@else if 	$dir == col { flex-direction: column; }

	@if 		$jc == s { 	justify-content: flex-start; }
	@else if 	$jc == e { 	justify-content: flex-end; }
	@else if 	$jc == c { 	justify-content: center; }
	@else if 	$jc == sb { justify-content: space-between; }
	@else if 	$jc == sa { justify-content: space-around; }

	@if 		$ai == s { 	align-items: flex-start; }
	@else if	$ai == e {	align-items: flex-end; }
	@else if 	$ai == c { 	align-items: center; }
	@else if	$ai == b { align-items: baseline; }
	@else if	$ai == st { align-items: stretch; }
}