@import "../mixin.scss";
@import "../variables.scss";

.section_1{
  width: 100%;
  height: 12.8rem;
  @include dflex(r,fs,fs,nw);
  .service-left-block{
    width: 65%;
    height: 100%;
    background: url("../files/img/build2.jpg")center no-repeat;
    background-size: cover;
    .news{
      width: 8.5rem;
      height: 1.8rem;
      background-color: $whiteColor;
      @include dflex(r,c,c,nw);
      margin-top: 7.5rem;
      margin-left: 6.75rem;
      text-transform: uppercase;
      font-family: Montserrat-Regular;
      border-radius: 0.2rem;
      font-size: 0.9rem;

    }
  }
  .service-right-block{
    width: 35%;
    height: 100%;
    background-color: hsl(216,9%,22%);
  }
}

.main_section{
  width: 100%;
  height: 80rem;
  @include dflex(r,fs,fs,nw);
  .main-content{
    width: 65%;
    height: 100%;
    .text-slider{
      width: 100%;
      height: $cubHeight;
      background-color: hsl(216,9%,22%);
      p.data{
        font-size: 0.5rem;
        font-family: Montserrat-Regular;
        color: $whiteColor;
        margin-left: 6.8rem;
        padding-top: 0.6rem;
        letter-spacing: 0.02rem;
      }
      h1{
        color: $whiteColor;
        font-size: 0.7rem;
        margin-left: 6.8rem;
        margin-top: 0.6rem;
        text-transform: uppercase;
        font-family: Montserrat-Regular;
        letter-spacing: 0.05rem;
      }
      .line{
        width: 1rem;
        height: 0.1rem;
        background-color: $whiteColor;
        margin-left: 6.8rem;
        margin-top: 0.4rem;
      }
      .post{
        display: block;
        margin-left: 6.8rem;
        font-size: 0.6rem;
        font-family: Montserrat-Regular;
        margin-top: 1.2rem;
        color:hsl(214,6%,51%);

      }

      .social-icon{
        width: 5rem;
        height: 1rem;
        @include dflex(r,fa,c,nw);
        margin-left: 14rem;
        margin-top: -0.88rem;
        font-size: 0.6rem;
        color:hsl(214,6%,51%);
        letter-spacing: 0.6rem;
      }
    }
    .img-box{
      width: 100%;
      height: $cubHeight * 2;
      @include dflex(r,fs,fs,nw);
      .left-img{
        width: 30%;
        height: 100%;
        /*background: url("../files/img/bs1.jpg")center no-repeat;
        background-size: cover;*/
        background-color:#b7b7b7 ;
      }
      .right-slider{
        width: 70%;
        height: 100%;
        background: url("../files/img/opera.jpg")center no-repeat;
        background-size: cover;
        .switch{
          width: $cubWidth;
          height: $cubHeight;
          background-color: $whiteColor;
          box-shadow: 0 0 0.01rem hsl(0,0%,0%);
          @include dflex(c,c,c,nw);
          i.fa-caret-left{
            margin-top: 0.9rem;
            color: hsl(0,0%,77%);
            font-size: 1.3rem;
            cursor: pointer;

          }
          i.fa-caret-right{
            color: hsl(0,0%,77%);
            font-size: 1.3rem;
            cursor: pointer;

          }
          .numeric-slide{
            margin-top: 0.9rem;
            font-size: 1.2rem;
            font-family: Montserrat-Regular;

            span.number{
              font-weight: normal;
              font-size: 0.9rem;


            }
          }
        }

      }
    }
    .comments-box{
      width: 70%;
      height: 50rem;
      background-color: $whiteColor;
      margin-left: 30%;
    }
  }






  aside{
    width: 35%;
    height: 100%;
    background-color: #f5f5f5;
    .switch-block{
      width: $cubWidth;
      height: $cubHeight;
      background-color: hsl(216,9%,22%);
      color: hsl(0,0%,77%);
      font-size: 1.3rem;
      @include dflex(c,sa,c,nw);
      .fa-caret-right,i.fa-caret-left{
        cursor: pointer;
      }
    }
    .price-block{
      width: $cubWidth;
      height: $cubHeight;
      background-color: #ffe400;
      @include dflex(c,c,c,nw);
      .pdf{
        width: 1.5rem;
        height: 2rem;
        cursor: pointer;
      }
      .title{
        text-transform: uppercase;
        font-size: 0.45rem;
        font-family: Montserrat-Regular;
        padding-top: 0.5rem;
      }
    }
    .popular-post{
      width: $cubWidth;
      height: $cubHeight;
      background-color: hsl(201,84%,59%);
      h2{
        color: $whiteColor;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 0.8rem 0.7rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.07rem;
      }
      .year{
        color: hsl(204,47%,78%);
        padding-left: 0.8rem;
        font-size: 0.35rem;
        margin-top: -0.3rem;
        font-family: Montserrat-Regular;
        letter-spacing: 0.03rem;
      }
      h3{
        color: $whiteColor;
        font-size: 0.5rem;
        font-family: Montserrat-Regular;
        padding-left: 0.8rem;
        margin-top: 0.3rem;
        letter-spacing: 0.06rem;
      }
      .comment{
        @extend .year;
        margin-top: 0.5rem;

      }
      .line-box{
        @include dflex(r,fs,c,nw);
        margin-left: 0.75rem;
        margin-top: 0.6rem;
        .line{
          width: 1.2rem;
          height: 0.2rem;
          background-color: $whiteColor;
          margin-left: 0.2rem;
        }
        .line:nth-of-type(2),.line:nth-of-type(3){
          opacity: 0.4;
        }
      }
    }
    .instagram{
      width: $cubWidth;
      height: $cubHeight;
      background-color: hsl(207,59%,46%);
      @include dflex(c,c,c,nw);
      i.fa-instagram{
        font-size: 3rem;
        color:$whiteColor;
      }
      .instagram-title{
        color: $whiteColor;
        font-size: 0.45rem;
        text-transform: uppercase;
        margin-top: 0.6rem;
        font-family: Montserrat-Regular;
      }
    }
    .foto{
      width: $cubWidth;
      height: $cubHeight;
      background: url("../files/img/sub.jpg")center no-repeat;
      background-size: cover;
      @include dflex(c,fs,c,nw);
      i.fa-caret-down{
        color: hsl(207,59%,46%);
        font-size: 2rem;
        margin-top: -0.8rem;
      }
    }
    .top-company-video{
      width: $cubWidth;
      height: $cubHeight;
      background-color: hsl(201,84%,59%);
      @include dflex(c,c,c,nw);
      .circle{
        width: 2.1rem;
        height: 2.1rem;
        border: 0.18rem solid $whiteColor;
        border-radius: 50%;
        @include dflex(c,c,c,nw);
        margin-top: 0.5rem;
        i.fa {
          color: $whiteColor;
          font-size: 1.6rem;
          margin-left: 0.2rem;
          cursor: pointer;
        }
      }
      p.comp-video{
        font-size: 0.55rem;
        text-transform: uppercase;
        color: $whiteColor;
        margin-top: 0.8rem;
        font-family: Montserrat-Regular;
      }
    }
    .advertising{
      width: $cubWidth;
      height: $cubHeight * 2;
      background: url("../files/img/arch.jpg")center no-repeat;
      background-size: cover;
      h4{
        font-family: Montserrat-Regular;
        color: $whiteColor;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding: 1rem 1rem;
        letter-spacing: 0.03rem;
        line-height: 1rem;
      }
    }
  }
}