body
    div#footer
        div#footer_1
            div.copyright
                p 2015 © Copyright - Foundation theme by
                a(href="") Stylemixthemes
            div.menu
                p
                    a(class="other" href="") Services
                p
                    a(class="our" href="") Our Works
                p
                    a(class="other" href="") News & events
                p
                    a(class="other" href="") Work with us
                p
                    a(class="other" href="") F.A.Q
                p
                    a(class="other" href="") Contact us
                p
                    a(class="other" href="") Shop

