header
    img(src="files/img/fdn.png" class="logo")
    .social-bar
        a(href="https://uk-ua.facebook.com/"): i(class="fa fa-facebook" aria-hidden="true")
        a(href="https://twitter.com/"): i(class="fa fa-twitter" aria-hidden="true")
        i(class="fa fa-shopping-cart" aria-hidden="true")
        i(class="fa fa-bars" aria-hidden="true" id="menuBar")



