
body
    div#section3
        div#section3_1
            div.news
                h3.news1 NEWS
                p.news2 12 february, 2015
                p.news3 Project Design and Engineering Services
                p.news4 23 comments
                img(src="/files/icon/3_slide.png")
            div.adams
                img(src="/files/img/devid.png")
                p David Mc. Adams
                i(class="fa fa-star" aria-hidden="true")
                p.
                    In most urban areas,
                    construction has already built
                    existing structures, many having
                    been standing for decades.
            div.procur
                img(src="/files/icon/procurement.png")
                p 18 000
                p Procurement
            div.manag
                img(src="/files/icon/lamp.png")
                p 78 150
                p Project Managments
            div.contem
                h3 Contemporary Villa
                img(src="/files/icon/slide_cont.png")
                p.
                    Diversity is a buzzword often heard by
                    brand managers, business tycoons,
                    politicians, and more; but it's much
                    more than that. To us at DM
                    Construction, diversity is the name of
                    the game.
                p.
                    We offer a diverse set of skills to all
                    clients in all fields, but also offer a
                    diverse group of individuals who are
                    able to deliver those skills. From
                div
                    p.con VIEW PROJECT
            div.big_img
                div.slide
                    i(class="fa fa-caret-right" aria-hidden="true")
                    img(src="/files/icon/slider.png")
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
            div.vork_subs
                div.work
                    img(src="/files/icon/forma-1.png")
                    p WORK WITH US
                div.subs
                    p SUBSCRIBE
                    img(src="/files/icon/3_slide.png")
                    input(id="email" type="text" placeholder="  E-mail")
                    input(type="button" value="SIGN UP")


                    //img(src="/files/icon/email.png")
                    //p SIGN UP