-
    var serviceList = [
        {
            header: "General Contracting",
            picture: "http://lorempixel.com/293/293/city/",
            content: "This allows the Design and Engineering team to originate drawings, specifications, structural calculations, details and scopes of work that deliver exactly what the client had intended to achieve.",
        },
        {
            header: "Project design and engineering",
            picture: "http://lorempixel.com/293/293/city/",
            content: "Through Stage-Gate, Design and Engineering methodology, DMCS ensure client-partners realize clearly defined project objective to achieve intended results.",
        },
        {
            header: "Capital Improvements",
            picture: "http://lorempixel.com/293/293/city/",
            content: "This results in scope creep and slippage of the schedule that ultimately result in additional costs to the owner.",
        },
        {
            header: "Construction",
            picture: "http://lorempixel.com/293/293/city/",
            content: "This allows the Design and Engineering team to originate drawings, specifications, structural calculations, details and scopes of work that deliver exactly what the client had intended to achieve.",
        },
        {
            header: "Procurement",
            picture: "http://lorempixel.com/293/293/city/",
            content: "This allows the Design and Engineering team to originate drawings, specifications, structural calculations, details and scopes of work that deliver exactly what the client had intended to achieve.",
        },
        {
            header: "Expert Witness",
            picture: "http://lorempixel.com/293/293/city/",
            content: "Through Stage-Gate, Design and Engineering methodology, DMCS ensure client-partners realize clearly defined project objective to achieve intended results.",
        }
    ]