// OurServices block
article#ourServices
	section.serviceSliderTitle
		//Service slider header
		div.pageBox.serviceInfo
			a(href="#")
				h2 Our services
				div.underline
				p Our mission is to provide the highest level of service for our client-partners from concept through construction.
		//Service slider controls
		div.pageBox.serviceControls
			button.rightServControl
				img(src="files/img/rightServControl.png" alt="right control")
			p 03
				sup /06
			button.leftServControl
				img(src="files/img/leftServControl.png" alt="left control")
	//Service slider content
	section.serviceSliderContent
		include serviceList
			- var serviceList = serviceList.slice(0,3);
			each val, ind in serviceList
				// Slider pictures
				div.pageBox
					a(href="#")
						img(src=val.picture + ind)
				//Slider text
				div.pageBox.textServiceSlider
					a(href="#")
						h3= val.header
						div.underline
						p= val.content

// Downloading price, Contact, Searching - Exploring block
article#exploring
	div.pageBox.downloadPrice
		a(href="#")
			img(src="files/img/pdfFile.png" alt="pdf icon")
			p Download price
	div.pageBox.contactUs
		a(href="#")
			img(src="files/img/contactUs.png" alt="contact icon")
			p Contact us
	div.searchBox
		form(method="GET" name="searchForm")
			div
				input(type="text" name="search" placeholder="What you're looking for")
				button(id="searchBtn")
					i(class="fa fa-search" aria-hidden="true")
//Positioning div Review and Brief, Stats
div.posRevBrief
	//Review block
	article#review
		-
			var reviewList = [
				{
					name: "Martin H. Jhonsons",
					photo: "files/img/builder1.jpg",
					rating: "files/img/rating4.jpg",
					review: "Together, we'll couple our knowledge, expertise, and innovative capabilities with your astute knowledge of your business—to maximize and optimize results. " +
					"This is all accomplished in a number of ways.",
					className: "topReview"
				},
				{
					name: "Tony SH. Schults",
					photo: "files/img/builder2.jpg",
					rating: "files/img/rating5.jpg",
					review: "When selecting DMCS as the design-build team, clients benefit in terms of efficiency and continuity that translate into cost savings and optimized schedules. " +
					"Contact us today and see how DMCS can best serve you from",
					className: "middleReview"
				},
				{
					name: "David Mc. Adams",
					photo: "files/img/builder3.jpg",
					rating: "files/img/rating4.jpg",
					review: "In most urban areas, construction has already built existing structures, many having been standing for decades.",
					className: "bottomReview"
				}
			]
		each val, ind in reviewList
			if (val.className == "middleReview")
				div(class= val.className)
					div
						div.pictureReview
							img(src= val.photo, alt="builder" + ind)
						p= val.name
						img(src= val.rating, alt="rating" + val.name, class="ratingImg")
						p= val.review
					div.indicatorReview
						div#leftIndReview
						div#rightIndReview
			else
				div(class= val.className)
					div.pictureReview
						img(src= val.photo, alt="builder"+ind)
					p= val.name
					img(src= val.rating, alt="rating"+val.name, class="ratingImg")
					p= val.review
	//Positioning div Brief and Stat
	div.posBreifStat
		//Company Brief block
		article#companyBrief
			h2 Your building is in good hands
			div.underline
			p Our mission is to provide the highest level of service for our client-partners from concept through construction.
			a(href="#") About company
		// Stats Counter block
		article#statsCounter
			-
				var statsList = [
					{
						name: "Expert Witness",
						icon: "files/img/statIconExp.png",
						data: "55 000"
					},
					{
						name: "Construction",
						icon: "files/img/statIconConst.png",
						data: "124 600"
					},
					{
						name: "Procurement",
						icon: "files/img/statIconProc.png",
						data: "18 000"
					},
					{
						name: "Project Managments",
						icon: "files/img/statIconProj.png",
						data: "78 150"
					}
				]
			each val, ind in statsList
				if (ind == 1 || ind == 2)
					div.darkStatsIcon.pageBox
						img(src= val.icon, alt="stats icon")
						h3= val.data
						h4= val.name
				else
					div.pageBox
						img(src= val.icon, alt="stats icon")
						h3= val.data
						h4= val.name

