*{
  padding: 0;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
html{
  font-size: 2vw;
}

@import "styles/variables.scss";
@import "styles/mixin.scss";
@import "styles/fonts.scss";
@import "styles/header.scss";
@import "styles/links/mainContentLinks.scss";
@import "styles/links/footerLinks.scss";

.wrapper{
  width: 100%;
  height: 100%;
  background-color: $mainColor;
}