*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
	background-color: black;
}
html{
	font-size: 2vw;
}
@import "styles/variables.scss";
@import "styles/mixin.scss";
@import "styles/fonts.scss";
@import "styles/header.scss";
@import "styles/mainContent1.scss";


@import "styles/fonts_3";
@import "styles/mailn_3.scss";
@import "styles/footer_3.scss";


.wrapper{
	width: 100%;
	height: 100%;
	background-color: $mainColor;
}

