@import "normalize";
@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 1vw;
  height: 100%;
  width: 100%;

  body {
    font-size: 0.73rem;
    font-family: "Montserrat Regular";
    color: rgb(0,0,0);
  }
}

@import "blocks/serviceBlock";
@import "blocks/news";
