@import "mixin/dflex";
@import "mixin/placeholder";
@import "fonts";

//colors
$clr-text-prim: rgb(112, 112, 112);
$clr-text-adap: rgb(0, 0, 0);
//$clr-text-sec: rgb(160, 160, 160);
$clr-text-sec: darken($clr-text-prim, 10%);


$xs: 500px;
$sm: 768px;
$md: 992px;
$lg: 1200px;