.section_1
    div.service-left-block
        div.news= "news & events"
    div.service-right-block
.main_section
    div.main-content
        div.text-slider
            p.data= "12 february,2015"
            h1.
                the daily reporter selects gilbane<br>
                building company as 2014 wisconsin<br>
                builder of the year
            p.line
            span.post= "Share this post"
            div.social-icon
                i(class="fa fa-facebook" aria-hidden="true")
                i(class="fa fa-pinterest" aria-hidden="true")
                i(class="fa fa-google-plus" aria-hidden="true")
                i(class="fa fa-twitter" aria-hidden="true")

        div.img-box
            div.left-img
            div.right-slider
                div.switch
                    i(class="fa fa-caret-right" aria-hidden="true")
                    p.numeric-slide.
                            03<span class="number">/06</span>
                    i(class="fa fa-caret-left" aria-hidden="true")
        div.comments-box

    aside
        div.switch-block
            i(class="fa fa-caret-right" aria-hidden="true")
            i(class="fa fa-caret-left" aria-hidden="true")
        div.price-block
            img(src="files/img/Icon.png" class='pdf')
            div.title= "download price"
        div.popular-post
            h2.
                popular<br>post
            p.year= "12 february, 2015"
            h3.
                Project Design and<br>
                Engineering Services
            p.comment= "23 comments"
            div.line-box
                div.line
                div.line
                div.line
        div.instagram
            i(class="fa fa-instagram" aria-hidden="true")
            p.instagram-title= "folow us on instagram"
        div.foto
            i(class="fa fa-caret-down" aria-hidden="true")
        div.top-company-video
            div.circle
                i(class="fa fa-caret-right" aria-hidden="true")
            p.comp-video= "company video"
        div.advertising
            h4.
                the best<br>
                architects<br>
                of the world<br>
                advise our<br>
                company